header {
    width: 100%;
    height: 16vh;
    background-color: black;
    color: white;
    font-size: 1.5em;
}

.header-element {
    display: inline-block;
    vertical-align: middle;
    margin-top: 2%;
}

.balance {
    justify-content: left;
    margin-right: 30%
}

.about{
    justify-content: right;
    margin-left: 30%
}

